body {
  font-family: sans-serif;
}

.app {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.stars > li {
  margin: 5px;
}

.active {
  color: gold;
}
