body {
  font-family: sans-serif;
}

.app {
  height: 100%;
  width: 100%;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.ratingContainer {
  border: 4px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.stars {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.stars:hover {
  cursor: pointer;
}

.stars > li {
  margin: 5px;
}

.active {
  color: gold;
}
