.app {
  position: relative;
  display: flex;
  height: calc(100vh - 200px);
  width: calc(100vw - 100px);
  border: 5px solid black;
  margin: 50px auto;
}

.carousel-image {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: white;
  width: 100px;
  height: 100%;
  background-color: blue;
  opacity: 0.5;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
.before:hover {
  opacity: 0.7;
}

.after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: white;
  width: 100px;
  height: 100%;
  background-color: blue;
  opacity: 0.5;
  right: 0;
  z-index: 1;
  cursor: pointer;
}
.after:hover {
  opacity: 0.7;
}

.dots {
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 24px;
  width: 100%;
  z-index: 2;
}

.dots .active-dot {
  color: red;
}
